@import url(base.css);

/***** MOBILE *****/
.contact {
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  background-image: var(--dark-bg);
  color: var(--light-color);
}

.contact main {
  padding: 4em 0;
}

.contact h2 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.2em;
  text-align: center;
}

.contact .section-intro {
  margin-bottom: 2em;
  text-align: justify;
}

.contact .form-container {
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
}

.contact form .form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.contact form .form-content > * {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 0.25em;
}

.contact form .form-content > *::placeholder {
  opacity: 0.8;
}

.contact form .message {
  resize: vertical;
  min-height: 15rem;
}

.contact form button {
  border: none;
  color: var(--light-color);
  background: linear-gradient(180deg, var(--primary-color), rgb(225, 0, 0));
  cursor: pointer;
  transition: transform 0.4s;
}

.contact form button:active {
  background: linear-gradient(180deg, rgb(225, 0, 0), var(--primary-color));
}

.contact .additional-contact {
  display: flex;
  gap: 0.25em;
}

.contact .additional-contact .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25em;
  position: relative;
  z-index: 2;
}

.contact .btn-group .btn-logo,
.contact .btn-group .alert {
  width: 100%;
  height: 50%;
  background-color: var(--medium-color);
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0 0.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
}

.contact .btn-group a.btn-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .btn-group .btn-logo:hover {
  background-color: #b5b5b7;
}

.contact .btn-group .copy {
  border: none;
}

.contact .btn-group .alert {
  position: absolute;
  z-index: 1;
  font-size: 0.9rem;
  top: 50%;
  opacity: 0;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .additional-contact .mail-box {
  background-color: var(--medium-color);
  color: var(--dark-color);
  font-size: 1.4rem;
  border-radius: 0.25em;
  padding: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .additional-contact .mail-box > p {
  margin: 0;
  margin-bottom: 0.5em;
}

@media (min-width: 460px) {
  .contact .btn-group .btn-logo,
  .contact .additional-contact .mail-box {
    padding: 0.7em;
  }

  .contact .additional-contact .mail-box {
    gap: 0.5em;
  }

  .contact .btn-group .alert {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .contact form .form-content {
    grid-template-columns: 1fr 1fr;
  }

  .contact form .form-content .message,
  .contact form .form-content .submit {
    grid-column: 1 / 3;
  }

  .contact .btn-group .btn-logo,
  .contact .additional-contact .mail-box {
    padding: 0.9em;
  }

  .contact .btn-group .alert {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .contact .contact-container {
    padding-bottom: 1em;
  }

  .contact h2 {
    font-size: 3rem;
  }

  .contact .section-intro {
    margin-bottom: 2.5em;
    font-size: 1.8rem;
  }

  .contact form button:hover {
    transform: scaleY(1.06);
  }

  .contact .additional-contact .mail-box {
    font-size: 1.6rem;
  }

  .contact .btn-group .alert {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .contact main {
    padding: 6em 0;
  }
}
