@import url(base.css);

/***** MOBILE *****/

/** HOME **/
/* Main */
#home main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  min-height: calc(100vh - var(--nav-height));
  margin-top: var(--nav-height);
  background-color: var(--dark-color);
  background-image: var(--dark-bg);
  padding: 4em 0;
}

#home main h1,
#home main h2 {
  font-size: 2.4rem;
  line-height: 1.7;
}

#home main .see-projects a {
  display: inline-block;
  background: linear-gradient(180deg, var(--primary-color), rgb(225, 0, 0));
  color: var(--light-color);
  padding: 0.8em 2em;
  margin: 1.5em 0;
  transition: transform 0.4s;
}

#home main .see-projects a:active {
  background: linear-gradient(180deg, rgb(225, 0, 0), var(--primary-color));
}

#home main p {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0.6em !important;
}

#home main .intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  text-align: center;
}

#home main .img-container {
  background-image: linear-gradient(
      180deg,
      rgba(250, 250, 250, 0.4),
      rgba(250, 250, 250, 0.3)
    ),
    url(../img/light-polygon.jpg);
  border: 20px solid transparent;
  border-image: 20px round;
  border-radius: 50%;
  animation: shadow 4s infinite;
  transition: transform 1.75s;
}

#home main img {
  display: flex;
  position: relative;
  border-radius: 50%;
  max-width: 25rem;
  padding: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/dark-polygon.jpg);
}

#home main .intro-text {
  text-align: center;
}

#home main .left-move {
  color: var(--primary-color);
  padding: 0 0.3em;
}

#home main h2 .left-move:last-child {
  padding: 0;
}

/***** MEDIA QUERIES *****/
@media (min-width: 520px) {
  h2 br:last-of-type {
    display: none;
  }
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }

  #home .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #home .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #home .nav-item:not(:first-child) {
    margin-left: 1.5em;
  }

  #home .nav-link:hover {
    box-shadow: 0px 1px 0px 0px var(--primary-color);
    color: var(--primary-color);
  }

  #home main .img-container {
    border: 28px solid transparent;
    border-image: 28px round;
  }

  #home main img {
    padding: 28px;
  }

  #home main .img-container:hover {
    transform: scale(1.1) rotateZ(360deg);
  }

  #home main .see-projects a:hover {
    transform: scale(1.04);
  }
}

@media (min-width: 992px) {
  #home main .img-container {
    animation-name: shadow, flip-img;
    animation-duration: 4s, 1.5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 1.5, 0s;
    animation-iteration-count: infinite, 1;
  }

  #home main .intro-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #home main h1,
  #home main h2,
  #home main p {
    display: flex;
    align-items: center;
    position: relative;
    animation: left-to-right 1.5s ease-in-out;
    font-size: 2.7rem;
    margin: 0;
  }

  #home main .left-move {
    position: relative;
    font-size: 4.5rem;
    animation: left-to-right 2s ease-in-out;
  }

  #home main .intro-text {
    margin-top: 1.5em;
  }

  #home main .see-projects {
    text-align: left;
  }

  #home main .see-projects a {
    position: relative;
    margin: 1em 0;
    animation: left-to-right 2s ease-in-out;
  }

  h1 br,
  h2 br:first-child {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1040px) {
  #home main img {
    max-width: 24rem;
  }

  #home main h1,
  #home main h2 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  #home main img {
    max-width: 31rem;
  }
}
